<header>
    <div class="header-left">
      <img src="/images/logo.png" alt="GAIA SPROUT Logo" class="logo">
      <div class="logo-text">GAIA SPROUT</div>
    </div>
    <nav class="navbar">
      <a href="/">Home</a>
      <a href="/contact">Contact Us</a>
      <a href="/services">Services</a>
    </nav>
    <div class="header-center">
      <!-- Language icon: Clicking this could later trigger a language switch -->
      <span class="language-icon">EN</span>
    </div>
    <div class="header-right">
      <a href="/login">Login</a> /
      <a href="/register">Register</a>
    </div>
  </header>
  